.userCard{
  min-height: 200px;
  border-radius: 20px;

  display: flex;
  flex-flow: row wrap;
}

.userCard__details{
  margin: 4em 1em;

  flex: 1;
}
.userCard__profilePictureContainer{
  margin: 2em;

  flex: 1;
}
.userCard__profilePicture{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.userCard__reposList{
  margin: 2em;

  flex: 1;
}
.userCard__repo{
  margin: .5em;
}